#text{
    width: 400px;
    height: 40px;
    border-radius: 12px;
    font-size: 1rem;
    padding-left: 12px;
    font-style: inherit;
    font-weight: 500;
    border: none;
}
@media screen and (max-width: 550px) {
   #text{ 
    width: 300px;
   }
}
#submit{
    padding: 12px;
    border-radius: 10px;
    border: none;
}
#submit1{
    text-align: center;
    justify-content: space-evenly;
}
#head{
    text-align: center;
}
body{
     background-image: url(./asset/image2.jpg);
     background-size: cover;
     background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
  text-align: center;
  background: #57575723;
  box-shadow: 5px 5px 50px  #0000009a;
  border-radius: 10px;
  margin-top: 7px;
  margin-right: 350px;
  margin-left: 350px;
  flex-wrap: wrap;
  background-color: rgba(39, 90, 207, 0.399);

}
@media screen and (max-width: 1000px){
    .main{
        margin-right: 50px;
        margin-left: 50px;
    }

}


#loading{
    display: none;
    font-size: x-large;
    text-align: center;
}
.head{
    display: flex;
    justify-content: space-evenly;
}
.head1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.head2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
p{
    font-size: 0.9rem;
}
h2{
    text-align: center;
}
.para{
    font-size: 1.1rem;
}
.hr{
    margin-bottom: 7px;
}
.temp{
    font-size: 1.3rem;
}
#maindiv{
    margin-top: 25px;
}
















